.pesquisa-produtos{
  width: 700px;
  margin: 20px auto;
  color: #333333;
  font-size: 1.1rem;
}
.pesquisa-1{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.pesquisa-1 label input{
  width: 300px;
  margin-left: 15px;
  height: 19px;
}
div label input.preco{
  width: 100px; height: 19px;
  margin-left: 15px;
}
.pesquisa-2{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.pesquisa-2 label select{
  width: 150px;
  margin-left: 15px;
  height: 24px;
}
#bto-produtos{
  display: flex;
  justify-content: center;
}
#bto-produtos button{
  width: 100px; height: 25px;
}