<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Senha:</strong>
  <%= @user.senha %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @user.tipo %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @user.nome %>
</p>

<p>
  <strong>Sobrenome:</strong>
  <%= @user.sobrenome %>
</p>

<p>
  <strong>Telefone fixo:</strong>
  <%= @user.telefone_fixo %>
</p>

<p>
  <strong>Telefone movel:</strong>
  <%= @user.telefone_movel %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
