.sobre{
  height: 500px;
  background-color: #457B9D;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sobre img{
  height: 350px; width: 250px;
  margin-right: 70px;
}
.texto-sobre{
  color: #F1FAEE;
  line-height: 1.9rem;
  font-size: 1.3rem;
  width: 500px;
}