.input-editar-perfil{
  width: 700px;
  margin: 40px auto;
}
.titulo-bto{
  display: flex;
  justify-content: space-between;
}
.titulo-bto div button{
  margin-left: 20px;
  height: 25px; width: 75px;
}
.titulo-bto h2{
  margin: 0;
  text-align: center;
  width: 500px;
}
.input-editar-perfil-usuarios{
  width: 500px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.input-editar-perfil-usuarios label{
  margin-bottom: 15px;
  font-size: 1.1rem;
}
.input-editar-perfil-usuarios label input{
  width: 300px; height: 19px;
  float: right;
}
.enderecos div{
  width: 500px;
  font-size: 1.1rem;
  display: flex;
  justify-content: space-around;
}
.input-editar-enderecos{
  width: 500px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.input-editar-enderecos label{
  margin-bottom: 15px;
  font-size: 1.1rem;
}
.input-editar-enderecos label input{
  height: 19px; width: 210px;
  float: right;
}
#endereco-input-1{
  width: 400px;
}
#input-editar-enderecos-1{
  display: flex;
  justify-content: space-between;
}
#input-editar-enderecos-1 label{
  float: none;
}
#input-editar-enderecos-1 label input{
  width: 150px;
  float: none;
}
#input-editar-enderecos-2{
  display: flex;
  justify-content: space-between;
}
#input-editar-enderecos-2 label{
  float: none;
}
#input-editar-enderecos-2 label input{
  width: 150px;
  float: none;
}