<p id="notice"><%= notice %></p>

<h1>Adresses</h1>

<table>
  <thead>
    <tr>
      <th>Cep</th>
      <th>Estado</th>
      <th>Bairro</th>
      <th>Cidade</th>
      <th>Nome</th>
      <th>Rua</th>
      <th>Complemento</th>
      <th>Numero</th>
      <th>Tipo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @adresses.each do |adress| %>
      <tr>
        <td><%= adress.cep %></td>
        <td><%= adress.estado %></td>
        <td><%= adress.bairro %></td>
        <td><%= adress.cidade %></td>
        <td><%= adress.nome %></td>
        <td><%= adress.rua %></td>
        <td><%= adress.complemento %></td>
        <td><%= adress.numero %></td>
        <td><%= adress.tipo %></td>
        <td><%= link_to 'Show', adress %></td>
        <td><%= link_to 'Edit', edit_adress_path(adress) %></td>
        <td><%= link_to 'Destroy', adress, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Adress', new_adress_path %>
