<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @comment.client %>
</p>

<p>
  <strong>Likes:</strong>
  <%= @comment.likes %>
</p>

<p>
  <strong>Conteudo:</strong>
  <%= @comment.conteudo %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
