<p id="notice"><%= notice %></p>

<p>
  <strong>Produtos:</strong>
  <%= @cart.produtos %>
</p>

<p>
  <strong>Subtotal:</strong>
  <%= @cart.subtotal %>
</p>

<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
