<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :total %>
    <%= form.text_field :total %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="field">
    <%= form.label :frete %>
    <%= form.text_field :frete %>
  </div>

  <div class="field">
    <%= form.label :carrinho %>
    <%= form.text_field :carrinho %>
  </div>

  <div class="field">
    <%= form.label :forma_pagamento %>
    <%= form.text_field :forma_pagamento %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
