<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th>Total</th>
      <th>Status</th>
      <th>Frete</th>
      <th>Carrinho</th>
      <th>Forma pagamento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.total %></td>
        <td><%= order.status %></td>
        <td><%= order.frete %></td>
        <td><%= order.carrinho %></td>
        <td><%= order.forma_pagamento %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
